.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




 h1{
   animation-name:jay;
   animation-duration: 1s;
  animation-iteration-count: infinite;

 }

#img{
  animation-name: kim;
  animation-duration: 1s;  
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
 animation-iteration-count: infinite;
 animation-direction: alternate-reverse;
}
@keyframes kim {
  from {
    width: 145px;
    height: 145px;
  }
  to {
    height: 150px;
   width: 150px;
  }
}
